header {
  background-color: #fff;
  box-shadow: 0 2px 3px rgb(96 96 96 / 10%);
  position: fixed;
  top: 0%;
  z-index: 99;
  width: 100%;
  .head {
    padding: 20px 0px;
    max-width: 1140px;
    margin: 0 auto;
    ul {
      li {
        .dropdown {
          position: relative;
          padding: 15px;
          transition: all 0.45s ease-in-out;
          &:hover {
            ul {
              visibility: visible;
              opacity: 1;
            }
          }

          i {
            position: absolute;
            text-align: right;
            top: 18px;
            margin: 0 0 0 8px;
          }
          ul {
            position: absolute;
            border: 1px solid #eee;
            background-color: #fff;
            border-radius: 4px;
            top: 50px;
            width: 200px;
            background-color: #fff;
            padding: 20px;
            opacity: 0;
            visibility: hidden;
            li {
              text-align: left;
              border-bottom: 1px dashed silver;
              a {
                color: #888;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0;
                margin: 0 7px;
                line-height: 50px;
                text-decoration: none;
                padding: 10px 15px;
              }
            }
          }
        }
        a {
          text-decoration: none;
          margin-right: 40px;
          color: #171819;
        }
      }
    }
  }
}
